
/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
  }
  
  /*---- apply a natural box layout model to all elements -------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  height: 100%;
  font-family: $defaultFontFamily;
  font-weight: $mediumWeight;
  color: $darkText;
  background-color: $lightBg;
  margin: 0;
}

#headerWrapper {
    background-color: $headerBg;
    border-bottom: 1px solid $borderColor;
}
  
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $boldWeight;
    color: $primaryColor;
  }
}

#navWrapper {
    background-color: $navBg;
}

nav {
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    li {
      flex: 1;
    }
  }
  li.active a {
    background-color: $primaryColor;
    color: $white;
    font-weight: $boldWeight;
  }
  a {
    display: block;
    padding: 0.75rem;
    color: $darkText;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      color: $primaryColor;
      background-color:rgba(77, 200, 233, 0.15);
    }
  }
}

//begin the footer 

#footerWrapper {
    background-color: $footerBg;
    border-top: 1px solid $borderColor;
}
footer {
  padding: .75rem $gutter;
  p{
    margin: 0;
    font-weight: $lightWeight;
    color: $mutedText;
    text-align: center;
  }
}