
/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
  }
  
  /*---- apply a natural box layout model to all elements -------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  height: 100%;
  font-family: $defaultFontFamily;
  font-weight: $mediumWeight;
  color: $fontColor;
}

#headerWrapper {
    background-color: $secondaryColor;
    color: $primaryColor;
}
  
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $mediumWeight;
  }
}

#navWrapper {
    background-color: $primaryColor;
}

nav {
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    li {
      flex: 1;
    }
  }
  li.active {background-color: blanchedalmond;}
  a {
    display: block;
    padding: 0.75rem;
    color: white;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: cadetblue;
    }
  }
}

//begin the footer 

#footerWrapper {
    background-color: $secondaryColor;
    color: $primaryColor;
}
footer {
  padding: .5rem $gutter;
  p{
    margin: 0;
    font-weight: $lightWeight;
  }
}